<section class="section-padding overlay client-area overlay" id="partner-page">
  <div class="container">
    <div><i class="ti-arrow-left"></i></div>
    <div class="row text-center">
      <div id="carousel-partner" class="carousel slide caption-slider" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item col-xs-12 active">
            <img src="../../assets/images/themeforest.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/coadcanyon.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/graphicriver.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/docean.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/audiojungle.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/actividen.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/photodone.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/videgub.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/themeforest.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/coadcanyon.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/graphicriver.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/docean.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/audiojungle.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/actividen.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/photodone.gif" alt="">
          </div>
          <div class="item col-xs-12">
            <img src="../../assets/images/videgub.gif" alt="">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-partner" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-partner" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
