<div *ngIf="!isLoading" class="preloader">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

<menu-main [items]="['home','service','feedback','feature','price','team','faq','partner','blog']"></menu-main>

<section-home></section-home>

<section-service></section-service>

<section-feedback></section-feedback>

<section-feature></section-feature>

<section-price></section-price>

<section-team></section-team>

<section-faq></section-faq>

<section-partnership></section-partnership>

<section-blog></section-blog>
